# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Backup
*.bak

#For the Alitum projects just save on repo the fabrication files
ASPD100_INTERFACE_JS1300AQ_PCB/*

ASPD100_INTERFACE_JS1400AFQ_PCB/*
!ASPD100_INTERFACE_JS1400AFQ_PCB/Project Outputs for ASPD100_INTERFACE_JS1400AFQ_PCB/
ASPD100_INTERFACE_JS1400AFQ_PCB/Project Outputs for ASPD100_INTERFACE_JS1400AFQ_PCB/Source/*

# Others
*.launch

# Not neccesary because it's just for my own workspace
/workspace/.metadata/*
/workspace/RemoteSystemsTempFiles/*
/workspace/ASPD100/.settings/*
/workspace/ASPD100/.metadata/*
/workspace/ASPD100/Debug
/Translation_Editor/__pycache__

# Debug
*.scana

# Not neccesary because can be re-generated
/ASPD100-hw-cubeMX-config/Core/*
/ASPD100-hw-cubeMX-config/Drivers/*
/ASPD100-hw-cubeMX-config/EWARM/*
/ASPD100-hw-cubeMX-config/Middlewares/*
/ASPD100-hw-cubeMX-config/.cproject
/ASPD100-hw-cubeMX-config/.mxproject
/ASPD100-hw-cubeMX-config/.project
/ASPD100-hw-cubeMX-config/STM32L432KCUX_FLASH.ld
/ASPD100-hw-cubeMX-config/mx.scratch

#My own research projects/files, no need to be saved !
/reference/*
DRV8876/*
workspace/DRV8876-control/*
/workspace/stm32L432-ssd1306/*
/workspace/save-data-on-flash/*
/workspace/STUSB4500_CONTROLLER/*
/workspace/STUSB4500_CONTROLLER_V2/*
/docs/datasheet/*
/PowerManagement/*
/ASPD100_PCB_1_MCU_OLED/*
/ASPD100_PCB_2_POWER_MANAGEMENT/*
/ASPD100_PCB_3_MOTOR_CONTROL/*
/ASPD100_INTERFACE_JS1400AFQ_PCB_V2/*
/docs/PCB_MECHANICAL.RUL
/docs/en.EVAL-SCS001V1_BOM.xls
/docs/aspd100-3d-model/*