# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Release/Debug workspace directory
/workspace/ASPD100/Debug/*
/workspace/ASPD100_FULL_TESTER/Debug/*
/workspace/ASPD100_MX_CONFIG/Debug/*

# Backup
*.bak

#For the Alitum projects just save on repo the fabrication files

#Temporary removed this directory
PCBs/*

PCBs/*/*
!PCBs/*/*/
PCBs/*/*/*
!PCBs/*/*/Fabrication

# Others
*.launch

# Not neccesary because it's just for my own workspace
/workspace/.metadata/*
/workspace/RemoteSystemsTempFiles/*
/workspace/ASPD100/.settings/*
/workspace/ASPD100/.metadata/*
/workspace/ASPD100/Debug
/workspace/ASPD100_FULL_TESTER/*
/Translation_Editor/__pycache__

# Debug
*.scana

#Docs not for github!
/docs/datasheet/*
/docs/icon/*
/docs/PCB_MECHANICAL.RUL
/docs/en.EVAL-SCS001V1_BOM.xls
/docs/aspd100-3d-model/*
/docs/testTR5.xlsx
/docs/testTR5V2.xlsx
/docs/WiresASPD100.xlsx

#Only for developpement
/Assets/*
/workspace_test/*
/reference/*
/DRV8876/*
/PowerManagement/*
/Demonstration/*
/Trash/*